extends /_page
block body
    form(id="tranSfer" method="post" style="display:none")
        textarea(rows="30" cols="150" id="queryXml" name="queryXml")
append scripts
    script(src="policycenter/base/js/tranSfer.js")